###
### config.toml
###
### Configuration file for Roundcube-Plugin-Compose-Ja-Message
###
### (C) 2017 Daiji Fukagawa All rights reserved
###

### Priority list of encodings for MIME Header Part

[[head_encodings]]
key = "US-ASCII"
charset = "US-ASCII"
mime_encoding = ""

[[head_encodings]]
key = "JIS"
charset = "ISO-2022-JP"
mime_encoding = "base64"

[[head_encodings]]
key = "UTF-8"
charset = "UTF-8"
mime_encoding = "base64"

[[head_encodings]]
key = "default"
charset = "ISO-8859-1"
mime_encoding = "quoted-printable"


### Priority list of encodings for Message Body Part
### (Content-Type charset)

[[text_encodings]]
key = "US-ASCII"
charset = "US-ASCII"
transfer_encoding = "7bit"
format = "flowed"
delsp = "no"

[[text_encodings]]
key = "JIS"
charset = "ISO-2022-JP"
transfer_encoding = "7bit"
format = "flowed"
delsp = "yes"

[[text_encodings]]
key = "UTF-8"
charset = "UTF-8"
transfer_encoding = "8bit"
format = "flowed"
delsp = "yes"

[[text_encodings]]
key = "default"
charset = "ISO-8859-1"
transfer_encoding = "quoted-printable"
format = "flowed"
delsp = "no"


### Rules to check if a recipient is "legacy" or not

[[legacyRecipientRules]]
key = "To"
pattern = "/john@example\\.com/"

#key = "Bcc"
#pattern = "/@legacy\\.example\\.co\\.jp/"

key = "To"
pattern = "/LEGACYLEGACY/"
